body {
    background-color: #000000;
}

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-text {
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.left-side {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider {
    width: 60%;
    overflow: hidden;
    box-shadow: 0px 0px 4px 4px #cb413f;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.circular-counter-with-anim {   
    height: 200px;
    width: 200px;
    margin-right: 10%;
    background-color: #000000;
    border-radius: 50%;
    box-shadow: 0px 0px 35px 20px rgba(245, 252, 249, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: myanim 1s linear infinite;
}

@keyframes myanim {
    0% {
        transform: scale(1.07);
    }
    80% {
        transform: scale(1.00);
    }
    100% {
        transform: scale(0.8);
    }
}

#counter {
    color: whitesmoke;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.button {
    width: 220px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .left-side {
        width: 30%;
    }
    .circular-counter-with-anim {
        height: 100px;
        width: 100px
    }
    #counter {
        font-size: 2.5rem;
    }
    #slider {
        margin-left: 10%;
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .left-side {
        width: 30%;
    }
    .circular-counter-with-anim {
        height: 75px;
        width: 75px
    }
    #counter {
        font-size: 1.25rem;
    }
    #slider {
        margin-left: 10%;
        width: 60%;
    }
}